[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[packages]
pytest = "*"
aiohttp = "==3.3.2"
aiologger = "==0.1.1-rc2"
aioredis = "==1.2.0"
easyqueue = "==1.2.1-rc1"

[requires]
python_version = "3.6"

[dev-packages]
pytest = "*"
pytest-coverage = "*"
asynctest = "==0.12.2"
aioresponses = "*"
yapf = "*"
easyqueue = "*"
ipdb = "*"
codecov = "*"
