[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[packages]
aiohttp = "==3.7.4"
aiologger = "==0.5.0"
aioredis = "==1.2.0"
easyqueue = "==1.2.1-rc1"

[requires]
python_version = "3.7"

[dev-packages]
pytest = "==5.3.5"
pytest-coverage = "*"
asynctest = "==0.12.1"
aioresponses = "*"
yapf = "*"
ipdb = "*"
codecov = "*"
